@import '../../styles/index.scss';

.query-results-wrapper {
  inline-size: 90%;
  display: flex;
}

.results-info {
  align-self: flex-start;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  font-size: 14px;
  color: #666;
}

.table-wrapper {
  overflow-x: auto;
  border-inline: 1px solid #e1e5e9;
}

.query-results-table {
  inline-size: 100%;
  border-collapse: collapse;
  background: white;
}

.table-header {
  padding: 0.75rem 1rem;
  background-color: #f8f9fa;
  text-align: start;
  font-weight: 600;
  border-bottom: $border;
  color: #374151;
}

.table-row {
  &:nth-child(even) {
    background-color: #f9fafb;
  }
  &:hover {
    background-color: #f3f4f6;
  }
}

.table-cell {
  border-bottom: $border;
  padding: 12px 16px;
  color: #374151;
}

.no-results {
  border: 1px dashed #d1d5db;
  padding: 2.5rem;
  text-align: center;
  color: #9ca3af;
}
