@import '../../styles/index.scss';

.button {
  padding: 0.5rem 1rem;
  border: $border;
  border-radius: 0.5rem;
  inline-size: 150px;
  font-size: 0.9rem;
  font-family: inherit;
  font-weight: bold;
  align-self: center;
  cursor: pointer;
}
