@import './index.scss';

.page-wrapper {
  margin: 0 auto;
  padding-inline: 1rem;
  max-inline-size: 62rem;
}

.cta-primary {
  background-color: $primary;
  color: #ffffff;
}

.cta-secondary {
  background-color: $secondary;
  color: $primary;
}

.cta-primary:hover {
  background-color: $primary-dark;
}

.cta-secondary:hover {
  background-color: $secondary-dark;
}
