@import './index.scss';

.page-wrapper {
  margin-inline: auto;
  padding-inline: 1rem;
  max-inline-size: 62rem;
}

.cta-primary {
  background-color: $primary;
  color: #ffffff;
}

.cta-secondary {
  background-color: $secondary;
  color: $primary;
}

.cta-primary:hover {
  background-color: $primary-dark;
}

.cta-secondary:hover {
  background-color: $secondary-dark;
}

.h2- {
  margin-block: 2rem;
  font-size: $size-text-500;
  text-align: center;
}
