@import '../../styles/index.scss';

nav {
  border-bottom: $border;
  padding: 0.5rem 2rem;
  background-color: transparent;
  font-size: $size-text-200;

  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      align-items: center;

      a {
        text-decoration: none;
        color: inherit;

        svg {
          vertical-align: middle;
        }
        span {
          border-radius: 0.25rem;
          padding: 0.25rem 0.5rem;

          &:hover,
          &:focus-visible {
            background-color: $color-bg-300;
          }
        }
      }

      .profile-pic {
        inline-size: 3rem;
        block-size: 3rem;
        border-radius: 50%;
      }
    }
    div {
      display: flex;
      gap: 0.5rem;
    }
  }
}
