@import '../../styles/index.scss';

.tables-wrapper {
  margin-inline: auto;
  max-block-size: 10rem;
  inline-size: 18rem;
  border: $border;
  border-radius: $border-radius-300;
  overflow-x: hidden;
  overflow-y: auto;


  ul {
    li {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding-block: 0.5rem;
      padding-inline-start: 1rem;

      &::before {
        content: '';
        inline-size: 1rem;
        block-size: 0.5rem;
        border-block: 0.2rem solid transparent;
        border-radius: 0.05rem;
      }
      &:hover::before {
        border-color: $color-line-500;
      }
      &:hover {
        background-color: $color-bg-300;
      }

      span {
        padding: 0.1rem 0.2rem;
        border-radius: 0.5rem;
        background-color: $secondary;
      }
      svg {
        vertical-align: middle;
      }
    }
  }
}
