@import '../../styles/index.scss';

.builder-canvas-wrapper {
  background-color: #f1f1f15d;

  flex: 1;
  background-color: #f8f9fa;
  position: relative;

  overflow: hidden;

  &-is-dragging {
    border-color: $accent;
  }
}
