@import '../../styles/index.scss';

.form-wrapper {
  margin-block-start: 7rem;

  h1 {
    text-align: center;
    font-size: $size-text-500;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: $gap;

  margin-block-start: 1rem;
}
